@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Oswald&display=swap");
/* line 9, ../compass/sass/style.scss */
body {
  font-family: 'Nunito', sans-serif;
}

/* line 13, ../compass/sass/style.scss */
h1 {
  font-size: 3em;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  margin-top: 0;
}

/* line 20, ../compass/sass/style.scss */
h2 {
  font-size: 1.5em;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

/* line 26, ../compass/sass/style.scss */
.backgroundBlanc {
  background-color: white;
  padding: 0 20px 60px 20px;
  margin-top: -10px;
  margin-bottom: 6px;
  box-shadow: black 0 6px 6px;
}

/* line 35, ../compass/sass/style.scss */
.cv {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100px;
}
/* line 40, ../compass/sass/style.scss */
.cv__telecharger {
  text-align: center;
  color: #34495E;
}

/* line 46, ../compass/sass/style.scss */
form {
  display: flex;
  flex-direction: column;
}

/* line 51, ../compass/sass/style.scss */
.gradient {
  margin: 0;
  background: #34495e;
  background: linear-gradient(90deg, #34495e 0%, white 50%, #34495e 100%);
}

/* line 57, ../compass/sass/style.scss */
.icone {
  width: 100px;
}

/* line 63, ../compass/sass/style.scss */
.img__background {
  width: 100%;
  z-index: -10;
}

/* line 69, ../compass/sass/style.scss */
.ligneHorizontale {
  border-bottom: solid #34495E 2px;
  width: 75%;
  margin: 10% auto;
}

/* line 75, ../compass/sass/style.scss */
.liste {
  list-style-type: none;
}
/* line 77, ../compass/sass/style.scss */
.liste--item {
  padding: 10px 0;
}

/* line 82, ../compass/sass/style.scss */
.textePresentation {
  width: 100%;
  margin: 10% auto;
}

/* line 87, ../compass/sass/style.scss */
.webJoli {
  text-align: center;
  margin: 10% 0;
}
